apiVersion: apps/v1
kind: Deployment
metadata:
  name: info-app
  namespace: sirius
spec:
  replicas: 1
  selector:
    matchLabels:
      app: info-app
  template:
    metadata:
      labels:
        app: info-app
    spec:
      containers:
        - name: info-app
          image: gleb1337/info-app:latest
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "32Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          envFrom:
            - configMapRef:
                name: conf-info